body {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  color: #202121; }

header {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center; }
  header .navigation__menu {
    font-weight: 400; }

.heading-primary {
  text-align: center;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 900; }

.heading-secondary, .headline {
  text-align: inherit;
  text-transform: none;
  font-size: 19px;
  font-weight: 400;
  line-height: 170%;
  padding-bottom: 15px; }
  .heading-secondary-bold, .headline-bold {
    font-weight: 700; }

.heading-tertiary {
  text-align: center;
  text-transform: uppercase;
  text-transform: none;
  font-weight: 300; }

.heading-4 {
  margin-bottom: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #f4f7f6;
  font-weight: 700; }

.heading-5 {
  color: #f4f7f6;
  margin-bottom: 5px;
  font-size: 17px;
  font-weight: 300; }

.paragraph {
  font-weight: 300;
  font-size: 24px;
  text-align: center;
  line-height: 170%; }

.link {
  text-decoration: none; }
  .link-footer-bold {
    color: #202121;
    font-weight: 700;
    font-size: 14px;
    line-height: 200%;
    text-decoration: none; }
  .link-footer-thin {
    color: #202121;
    font-weight: 300;
    font-size: 14px;
    line-height: 200%;
    text-decoration: none; }
  .link:active, .link:visited, .link:link {
    text-decoration: none;
    font-weight: inherit;
    color: inherit; }

.button {
  background-color: #49c5b6;
  color: #f4f7f6;
  text-transform: uppercase;
  padding: 0 20px;
  transition: all ease .1s;
  cursor: pointer;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .button:hover {
    background-color: #42AB9E;
    color: #f4f7f6; }

.card {
  width: 100%;
  text-align: center;
  background-color: #fff;
  padding: 35px;
  margin: 0 0 35px 35px; }
  .card .data span {
    display: block;
    margin-bottom: 15px; }
  .card .data .submit-2 {
    display: flex;
    align-items: center;
    font-weight: 700; }
  .card p {
    font-size: 14px;
    margin-bottom: 25px;
    line-height: 170%;
    text-align: left; }
    .card p span {
      font-weight: 700; }
  .card .checked-features {
    padding-left: 35px;
    text-align: left;
    list-style: none; }
    .card .checked-features li {
      text-align: left;
      line-height: 200%; }
      .card .checked-features li::before {
        content: '';
        margin-right: 10px;
        display: inline-block;
        width: 15px;
        height: 15px;
        background: url("../../img/tick-icon.svg");
        background-size: cover; }

.header-main {
  height: 70px;
  display: flex;
  background-color: #F4F7F6;
  border-bottom: 1px solid #dfdfe1; }
  .header-main .menu-navigation {
    flex-basis: 5%;
    padding: 0 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    .header-main .menu-navigation .icon-svg {
      max-width: 20px;
      padding: 5px; }
      .header-main .menu-navigation .icon-svg:hover {
        cursor: pointer; }
    .header-main .menu-navigation__name {
      padding: 5px 10px;
      border-right: 1px solid #dfdfe1; }
  .header-main .search {
    min-width: auto;
    flex-basis: 3%;
    flex-grow: 0;
    display: flex;
    cursor: pointer; }
    .header-main .search .icon-svg {
      max-width: 20px; }
  .header-main .logo {
    flex-grow: 1; }
    .header-main .logo .icon-svg {
      position: absolute;
      top: 25px;
      left: 50%;
      transform: translateX(-50%); }
  .header-main .register {
    padding: 0 20px;
    flex-basis: 7%;
    justify-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center; }
  .header-main .submit {
    flex-basis: 7%;
    justify-self: flex-end; }

.block {
  padding: 50px 0; }

.inner {
  max-width: 1430px;
  margin: 0 auto; }

.box {
  display: flex;
  justify-items: center; }
  .box .col-3 {
    flex-basis: 33.3333%;
    justify-items: center; }

* {
  margin: 0;
  padding: 0;
  box-sizing: 0; }

#content {
  background-color: #f4f7f6; }
  #content .box-main-heading {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center; }
    #content .box-main-heading .heading-primary {
      padding-bottom: 25px; }
    #content .box-main-heading .heading-secondary {
      max-width: 1000px;
      padding-bottom: 30px; }
  #content .subscription {
    margin: 0 35px 0 35px; }
    #content .subscription .card .data .name {
      font-size: 18px;
      font-weight: bold; }
    #content .subscription .card .data .where {
      font-size: 18px;
      text-transform: none;
      font-weight: 300; }
    #content .subscription .card .data .amount {
      font-size: 70px;
      font-weight: 900; }
    #content .subscription .card .data .currency {
      font-weight: 300;
      font-style: italic; }
    #content .subscription .quote {
      background-image: url(https://assets.awwwards.com/assets/images/pages/plans/quote/awwwards-01.jpg);
      background-position: center;
      width: 409px;
      background-size: cover;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 35px;
      margin: 0 35px 35px 35px; }
      #content .subscription .quote h4::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 80px;
        height: 4px;
        transform: translateX(-50%);
        background-color: #fff; }
      #content .subscription .quote span a {
        color: #49c5b6;
        font-weight: 700; }
  #content .box-gallery {
    background-color: #202121;
    width: 100vw;
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    overflow: hidden; }
    #content .box-gallery .item figure img {
      width: 80%; }

#footer {
  background-color: #fcfcfc;
  padding: 0 50px; }
  #footer .box-top,
  #footer .box-bottom {
    display: flex; }
  #footer .box-left {
    flex-grow: 1; }
  #footer .box-top .box-left {
    text-align: left; }
    #footer .box-top .box-left .menu-footer {
      display: flex;
      padding-bottom: 10px; }
      #footer .box-top .box-left .menu-footer li {
        list-style: none;
        padding: 0 15px; }
        #footer .box-top .box-left .menu-footer li:first-child {
          padding: 0 15px 0 0; }
    #footer .box-top .box-left .follow a {
      margin: 0 0 0 8px; }
      #footer .box-top .box-left .follow a:first-child {
        margin: 0; }
  #footer .box-top .box-right .headline {
    display: flex;
    align-content: center; }
    #footer .box-top .box-right .headline h2::after {
      content: '';
      margin: 0 15px -3px 15px;
      display: inline-block;
      width: 25px;
      height: 25px;
      background: url("../../img/calendar.svg");
      background-size: cover; }
  #footer .box-bottom {
    border-top: 1px #dfdfe1 solid;
    margin: 20px 0; }
    #footer .box-bottom .box-left .menu-footer {
      list-style: none;
      display: flex; }
      #footer .box-bottom .box-left .menu-footer li:not(:first-child) {
        padding-left: 15px; }
