$color-dark:rgb(32, 33, 33);
$color-white:#fff;
$color-grey-ultralight:rgb(252, 252, 252);
$color-grey-light:rgb(244, 247, 246);
$color-grey-dark:rgb(223, 223, 225);

$color-primary-light: rgb(73, 197, 182);
$color-primary-dark: #42AB9E;
$color-primary-text: #49c5b6;

$dimension-icon: 25px;