 @import "abstracts/variables";
// @import "abstracts/mixins";
// @import "base/base";
// @import "components/card";
// // @import "components/navigation";
 @import "base/typography";
 @import "components/button";
// @import "layout/header";
// @import "pages/home";

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.header-main {
    display: flex;
    background-color: #F4F7F6;

    .menu-navigation {
        flex-basis: 5%;
        padding: 0 20px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .icon-svg {
            max-width: 20px;
            //TODO: insert icon mixin
            padding: 5px;

            &:hover {
                cursor: pointer;
            }
        }
        &__name {
            padding: 5px 10px;
        }
    }

    .search {
        min-width: auto;
        flex-basis: 3%;
        flex-grow: 0;
        display: flex;

        .icon-svg {
            max-width: 20px;
        }
    }

    .logo {
        flex-grow: 1;
        position: relative;
        .icon-svg {
            position: absolute;
            top: 70px;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .register {
        padding: 0 20px;
        flex-basis: 7%;
        justify-self: flex-end;
        display: flex;
        align-items: center;
        justify-content: center;
        &__feature {}
    }

    .submit {
        flex-basis: 7%;
        justify-self: flex-end;
        display: flex;
        align-items: center;
        justify-content: center;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #47BFB0;
        //TODO: insert button here as a component as a second class i used
    }

}

.content {
    .block {
        .inner {
            //TODO:put these in  layout
        }
    }

    .box-main-heading {
        .heading-primary {
            //TODO:typography
        }

        .heading-secondary {
            //TODO:typography
        }
    }

    .grid {

        //TODO:put these in  layout gisplay flex
        .col3 {
            //TODO:put these in  layout
        }
    }

    .subscription {
        &-option {
            .data {

                .name {}

                .where {}

                .amount {}

                .currency {}
            }

            .button-wide {
                //add in components
            }
        }

        &-quote {

            //give class to h4 
            //giv class to h5
            .text-bold {}

        }
    }

    .box-gallery {
        .item {
            figure {}

            .footer {}

            //todo:hover effect animation
        }
    }
}

#footer {
    .box-top {
        .box-left {

            //h2 heading fix class and to typography
            .menu-footer {
                li {}
            }

            .follow {
                a {}
            }
        }

        .box-right {
            .headline {
                //svg ico ?? fix
            }
        }

    }

    .box-bottom {
        .box-left {
            .menu-footer {
                li {}
            }
        }

        .box-right {
            p {}
        }
    }
}