 @import "abstracts/variables";
// @import "abstracts/mixins";
//@import "base/base";
// @import "components/card";
// // @import "components/navigation";
 @import "base/typography";
 @import "components/button";
 @import "components/card";
 @import "layout/header";
 @import "layout/content";
// @import "pages/home";

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

#content {
    background-color:$color-grey-light;

    .box-main-heading {
        max-width:100%;
        display:flex;
        flex-direction: column;
        justify-items: center;
        align-items:center;
    
        .heading-primary {
            padding-bottom: 25px;
        }

        .heading-secondary {
            max-width:1000px;
            padding-bottom: 30px;
        }
    }

    .subscription {
        margin: 0 35px 0 35px;
        .card {
            .data {  
                //margin: 30px 0;
                //TODO: to card
                .name {
                    font-size: 18px;
                    font-weight: bold;
                }

                .where {
                    font-size: 18px;
                    text-transform: none;
                    font-weight: 300;
                }
                .amount {
                    font-size: 70px;
                    font-weight: 900;
                }

                .currency {
                    font-weight: 300;
                    font-style: italic;
                }
            }
        }

        .quote {
            background-image: url(https://assets.awwwards.com/assets/images/pages/plans/quote/awwwards-01.jpg);
            width: 409px;
            background-size: cover ;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding:35px;
            margin: 0 35px 35px 35px;
            
            h4::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 50%;
                width: 80px;
                height: 4px;
                transform: translateX(-50%);
                background-color: #fff;
            }
            
            span {
                a {
                    color: $color-primary-text;
                    font-weight: 700;
                }
            }

        }
    }






    .box-gallery {
        .item {
            figure {}

            .footer {}

            //todo:hover effect animation
        }
    }
}

#footer {
    .box-top {
        .box-left {

            //h2 heading fix class and to typography
            .menu-footer {
                li {}
            }

            .follow {
                a {}
            }
        }

        .box-right {
            .headline {
                //svg ico ?? fix
            }
        }

    }

    .box-bottom {
        .box-left {
            .menu-footer {
                li {}
            }
        }

        .box-right {
            p {}
        }
    }
}