.block {
    padding: 50px 0;
}
.inner {
    max-width: 1430px;
    margin: 0 auto;
}

.box {
    display: flex;
    justify-items: center;
    .col-3 {
     flex-basis:33.3333%;
     justify-items: center;
    }
}