.block {
    padding: 50px 0;
}
.inner {
    max-width: 1430px;
    margin: 0 auto;
}

.grid {
    display: flex;
    justify-items: center;
    .col-3 {
        //TODO:finish grid
    flex-basis:33.3333%;
    justify-items: center;

    display:flex;
    //flex-direction: column;
    }
}

