.header {
    background-color: $color-grey-light;
    border-bottom: 1px solid $color-grey-dark;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 70px;
    overflow: hidden;
    display: flex;

    .navigation {
        &__menu {
            border-right: 1px solid $color-grey-dark;
            flex-basis: 15vw;
            min-width: 150px;
            //background-color: blue;
            display: flex;
            align-items: center;
            justify-content: center;

            &--icon {
                @include icon;
            }

            &--name {
                padding: 10px 20px 10px 0;
            }
        }

    }

    .search {
        padding: 5px 10px;
        justify-self: flex-start;
        display: flex;
        align-items: center;

        &__icon {
            @include icon;
        }
    }

    .logo {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        &__icon {
            min-width: 200px;
            padding: 15px;
            cursor: pointer;
            //TODO:insert animation
        }
    }

    .register {
        min-width: 150px;
        flex-shrink: 0;
        //flex-basis: 10%;
        display: flex;
        justify-content: center;
        align-items: center;

        &__feature {
            padding: 5px 10px;
            cursor: pointer;
            &--member {
                text-align: center;
            }
            &--login {
                transition: all ease .1s;
                &:hover {
                    color: $color-grey-dark;
                }
            }
        }
    }

    .submit {
        background-color: rgb(73, 197, 182);
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all ease .3s;


        &:hover {
            background-color: rgb(66, 171, 158);
        }

        &--button {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 12px;
            color: rgb(244, 247, 246);
            padding: 0 20px;
        }
    }


}








// > * {
//     align-items: center;
//     display: flex;
// }//FIXME:remove the star
// .feature__icon {
//     @include icon;
//     &:hover {
//         //background-color: #fff;
//     }
// }
// .navigation-menu {
//     padding: 20px;
//     flex-basis: 8%;
//     align-items: center;
//     border-right: 1px $color-grey-dark;
//     .feature__icon {
//         width: 20px;
//         height: 20px;
//     }
//     span {
//         margin-left: 10px;
//     }
// }

// .search {
//     display: flex;
//     padding: 5px;
// }

// .logo {
//     flex-grow: 1;
//     justify-content: center;
//     align-items: center;
// }

// .register {
//     flex-basis: 20%;
//     padding: 10px 15px;
//     text-align: center;
//     > * {
//         flex-basis: 50%;
//     }
//     span {
//         font-weight: 700;
//     }
// }

// .submit {
//     color: $color-grey-light;
//     font-weight: 700;
//     letter-spacing: 1px;
//     background-color: $color-primary-light;
//     flex-basis: 15%;
//     padding: 10px 20px;
//     justify-content: center;
// }