.header-main {
    height: 70px;
    display: flex;
    background-color: #F4F7F6;
    border-bottom: 1px solid $color-grey-dark;

    .menu-navigation {
        flex-basis: 5%;
        padding: 0 20px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border-right: 1px solid $color-grey-dark;


        .icon-svg {
            max-width: 20px;
            //TODO: insert icon mixin
            padding: 5px;

            &:hover {
                cursor: pointer;
            }
        }

        &__name {
            padding: 5px;
        }
    }

    .search {
        margin-left: 20px;
        min-width: auto;
        flex-basis: 3%;
        flex-grow: 0;
        display: flex;
        cursor: pointer;


        .icon-svg {
            max-width: 20px;
        }
    }

    .logo {
        flex-grow: 1;
        .icon-svg {
            position: absolute;
            top: 25px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .register {
        padding: 0 20px;
        flex-basis: 9%;
        justify-self: flex-end;
        display: flex;
        align-items: center;
        justify-content: center;
        &__feature {}
    }

    .submit {
        flex-basis: 10%;
        justify-self: flex-end;
    }
}