body {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    color: $color-dark;
}

header {
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;

    .navigation__menu {
        font-weight: 400;
    }
}

.heading-primary {
    //@extend: inherit;
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 900;
}

.heading-secondary {
    text-transform: none;
    font-size: 19px;
    font-weight: 400;
    line-height: 170%;
    padding-bottom: 15px;

    &-bold {
        font-weight: 700;

        &:active,
        &:visited,
        &:link {
            font-weight: 700;
            text-decoration: none;
            color: inherit;
        }
    }
}

.heading-tertiary {
    text-align: center;
    text-transform: uppercase;
    text-transform: none;
    font-weight: 300;
}

.heading-4 {
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: $color-grey-light;
    font-weight: 700;
    line-height: 200%;
}

.heading-5 {
    color: $color-grey-light;
    margin-bottom: 5px;
    font-size: 17px;
    font-weight: 300;

}

.paragraph {
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 170%;
    text-align: left;

    &:first-of-type {
        margin-top: 20px;
    }

    &-small {
        font-size: 12px;
        color: $color-grey-dark;
    }
}

.link {
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    
    &-small {
        font-size: 12px;
        &:active,
        &:visited,
        &:link {
            font-weight: inherit;
            color: inherit;
        }
    }

    &-section-blue {
        cursor: default;
        font-weight: 700;
        color: $color-primary-text;
        transition: all ease 0.4s;
        &:active,
        &:visited,
        &:link {
            font-weight: 700;
            color: $color-primary-text;
        }
        &:hover {
            color: $color-dark-2;
        }
    }


    &-footer-bold,
    &-footer-thin {
        color: $color-dark;
        line-height: 200%;
        &:active,
        &:visited,
        &:link {
            color: $color-dark;
        }
    }
    &-footer-bold {
        font-weight: 700;
    }
    &-footer-thin {
        font-weight: 300;
    }

}

