body {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    color: $color-dark;
}

header {
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;

    .navigation__menu {
        font-weight: 400;
    }
}

.heading-primary {
    //@extend: inherit;
    text-align: center;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 700;
}

.heading-secondary {
    text-align: center;
    text-transform: none;
    font-size: 19px;
    font-weight: 400;
    line-height: 170%;
}


.heading-tertiary {
    text-align: center;
    text-transform: uppercase;
    text-transform: none;
    font-weight: 300;
}

.heading-4 {
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: $color-grey-light;
    font-weight: 700;
}

.heading-5 {
    color: $color-grey-light;
    margin-bottom: 5px;
    font-size: 17px;
    font-weight: 300;

}

.paragraph {
    font-weight: 300;
    font-size: 24px;
    text-align: center;
    line-height: 170%;
}

a {
    text-decoration: none;

    &:active,
    &:visited,
    &:link {
        //TODO:fix click color
        text-decoration: none;
        color: $color-dark;

    }
}